# ==============================================================================
# Ruby Project - Importing Template from nayaksuraj/test-repo
# ==============================================================================
# This example shows how to import the Ruby pipeline template.
#
# For projects in OTHER repositories, use this pattern:
#
# resources:
#   repositories:
#     pipeline-templates:
#       git: git@bitbucket.org:nayaksuraj/test-repo.git
#
# !include:
#   - pipeline-templates:pipeline-templates/ruby-template.yml
#
# For this repository (examples), we use direct path:
# ==============================================================================

!include:
  - ../../pipeline-templates/ruby-template.yml
